<nav class="header__nav nav">
  <a routerLink="" routerLinkActive="nav--active" class="nav__item" [routerLinkActiveOptions]="{ exact: true }">Today</a>
  <a routerLink="tomorrow" routerLinkActive="nav--active" class="nav__item">Tomorrow</a>
  <a routerLink="3days" routerLinkActive="nav--active" class="nav__item">3 days</a>
  <a routerLink="10days" routerLinkActive="nav--active" class="nav__item">10 days</a>
  <a routerLink="2weeks" routerLinkActive="nav--active" class="nav__item">2 weeks</a>
</nav>
