<div class="current-location">Weather in city - <span>SPB</span> on today</div>
<div class="td-weather__wrapper">
  <app-current-weather></app-current-weather>
  <app-current-day-weather></app-current-day-weather>
</div>
<h2 class="main__title">Forecast for a week</h2>
<app-current-week-weather></app-current-week-weather>
<!--<app-ten-days-weather></app-ten-days-weather>-->
<!--<app-two-weeks-weather></app-two-weeks-weather>-->
<!--<app-tomorrow-weather></app-tomorrow-weather>-->
<!--<app-three-days-weather></app-three-days-weather>-->