<div class="current-day__block cday-block">
  <div class="cday-block__weather">
    <div class="current-day__item cday-item" *ngFor="let hour of weatherHourly">
      <div class="cday-item__time">
        {{hour.time}}<span>00</span>
      </div>
      <div class="cday-item__icon">
        <img [src]='hour.iconUrl' alt=""/>
      </div>
      <div class="cday-item__temp">
        {{hour.degrees}}&#176;
      </div>
    </div>
  </div>
  <div class="current-day__separator">
    <span>Скорость ветра, <i>м.с</i></span>
    <div class="sep-line"></div>
  </div>
  <div class="cday-block__wind">
    <div class="current-day__item" *ngFor="let hour of weatherHourly">
      <div class="cday-item__wind">{{hour.windSpeed}}</div>
    </div>
  </div>
</div>