<div class="current-week__block cweek-block cweek-block--ten tomorrow">
  <div class="cweek-block__weather">
    <div class="current-week__item cweek-item" *ngFor="let hour of weatherHourly, index as i">
      <div class="cweek-item__date">
        <span class="cdate__day-of-week">{{hour.time}}<span class="day-of-week__zero">00</span></span>
      </div>
      <div class="cweek-item__icon">
        <img [src]='hour.iconUrl' alt=""/>
      </div>
      <div class="cweek-item__temp">
        <div class="temp__day">{{hour.degrees}}&#176;</div>
      </div>
      <div class="cweek-item__resume">
        {{hour.description}}
      </div>
      <div class="current-day__separator">
        <span *ngIf="i === 0; else separatorLine">Скорость ветра, <i>м.с</i></span>
        <ng-template #separatorLine>
          <div class="sep-line"></div>
        </ng-template>
      </div>
      <div class="thday-block__wind">
        <div class="thday__item">
          <div class="thday-item__wind">{{hour.windSpeed}}</div>
        </div>
      </div>
      <div class="current-day__separator">
        <span *ngIf="i === 0; else separatorLine">Осадки, <i>мм</i></span>
        <ng-template #separatorLine>
          <div class="sep-line"></div>
        </ng-template>
      </div>
      <div class="thday-block__precip">
        <div class="thday__item">
          <div class="thday-item__precip">{{hour.precip}}</div>
        </div>
      </div>
    </div>
  </div>
</div>